body {
    color: #0a0a0a;
    background-color: rgb(119, 187, 247);
}
.th {
    border: 0px;
}
.icon-tbl {
    padding: 0;
    border: 0px;
}
.tituloTable {
    text-align: center;
    align-items: center;
    padding: 1%;
}
.banner-home {
    width: 100%;
}
.nav-menu {
    border: 0;
    margin: 0;
}
.navbar-pessoa {
    width: 100%;
}
/*footer */
#rodape{
    background-color: rgb(50, 40, 33);
    color: white;
    align-items: center;
    text-align: center;
    padding: 2%;
    width: 100%;
}
#rodape .div-footer{
    padding: 1% 0;
    border-bottom: solid 2px #f57979;
}
/*display grid - para manipular as divs*/
.page-grid-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:28px;
    padding: 1% 10%;
    background-color: #dadada;
 }

