body {
    color: #0a0a0a;
    background-color: rgb(119, 187, 247);
}
.th {
    border: 0px;
}
.icon-tbl {
    padding: 0;
    border: 0px;
}
.tituloTable {
    text-align: center;
    align-items: center;
    padding: 1%;
}


